.navigation_bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0 10px 0;
    box-sizing: border-box;
    border-top: 1px solid #ededef;
    background-color: white;
}

.navigation_bar__icons{
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 8px 0 8px;
    cursor: pointer;
}

@keyframes icons-move-updown{
    0%{
        transform: translateY(0px);
    }
    30%{
        transform: translateY(-5px);
    }
    70%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(0px);
    }
}

.navigation_bar__icons--img{
    width: 30px;
}

/* navigation_bar__icons div를 호버했을때 아이콘 이미지에 애니메이션을 준다. */
.navigation_bar__icons:hover .navigation_bar__icons--img{
    animation: 1s icons-move-updown;
    /* 뒤에 infinity 붙이면 계속 반복함*/
}

.navigation_bar__title {
    font-size: 12px;
}